In [210]:
# importing all packages for making model

import pandas as pd
import numpy as np

In [211]:
# reading all data frame and getting relevent information

ratings = pd.read_csv('Ratings.csv')
user = pd.read_csv('Users.csv')
books = pd.read_csv('Books.csv')

C:\Users\Nitish\AppData\Local\Temp\ipykernel_6100\2515640659.py:5: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books = pd.read_csv('Books.csv')

In [212]:
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [213]:
user.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [214]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [215]:
books['Image-URL-L'][1]

'http://images.amazon.com/images/P/0002005018.01.LZZZZZZZ.jpg'

In [216]:
books.columns

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-S', 'Image-URL-M', 'Image-URL-L'],
      dtype='object')

In [217]:
df = ratings.merge(books, on='ISBN')[['User-ID','Book-Title','Book-Rating','Image-URL-M']]

In [218]:
df.head()

,User-ID,Book-Title,Book-Rating,Image-URL-M
0,276725,Flesh Tones: A Novel,0,http://images.amazon.com/images/P/034545104X.0...
1,2313,Flesh Tones: A Novel,5,http://images.amazon.com/images/P/034545104X.0...
2,6543,Flesh Tones: A Novel,0,http://images.amazon.com/images/P/034545104X.0...
3,8680,Flesh Tones: A Novel,5,http://images.amazon.com/images/P/034545104X.0...
4,10314,Flesh Tones: A Novel,9,http://images.amazon.com/images/P/034545104X.0...

In [219]:
# Number of rating got for a particular book
no_book_rating = df.groupby('Book-Title')['User-ID'].count().reset_index()
no_book_rating.rename(columns={'User-ID':'no_of_rating'},inplace=True)
no_book_rating.head()

                                          Book-Title  no_of_rating
0   A Light in the Storm: The Civil War Diary of ...             4
1                              Always Have Popsicles             1
2               Apple Magic (The Collector's series)             1
3   Ask Lily (Young Women of Faith: Lily Series, ...             1
4   Beyond IBM: Leadership Marketing and Finance ...             1

In [220]:
# Getting average rating per book

book_rating = df.groupby('Book-Title')['Book-Rating'].mean().reset_index()
book_rating.head()

                                          Book-Title  Book-Rating
0   A Light in the Storm: The Civil War Diary of ...         2.25
1                              Always Have Popsicles         0.00
2               Apple Magic (The Collector's series)         0.00
3   Ask Lily (Young Women of Faith: Lily Series, ...         8.00
4   Beyond IBM: Leadership Marketing and Finance ...         0.00

In [221]:
book_details = no_book_rating.merge(book_rating , on ='Book-Title')
book_details

,Book-Title,no_of_rating,Book-Rating
0,A Light in the Storm: The Civil War Diary of ...,4,2.250000
1,Always Have Popsicles,1,0.000000
2,Apple Magic (The Collector's series),1,0.000000
3,"Ask Lily (Young Women of Faith: Lily Series, ...",1,8.000000
4,Beyond IBM: Leadership Marketing and Finance ...,1,0.000000
...,...,...,...
241066,Ã?Â?lpiraten.,2,0.000000
241067,Ã?Â?rger mit Produkt X. Roman.,4,5.250000
241068,Ã?Â?sterlich leben.,1,7.000000
241069,Ã?Â?stlich der Berge.,3,2.666667
241070,Ã?Â?thique en toc,2,4.000000

In [222]:
# Getting count of review made by every user 
number_of_rating = df.groupby('User-ID')['Book-Title'].count().reset_index()
number_of_rating.rename(columns={'Book-Title':'Count_of_rating'},inplace=True)
number_of_rating.head()

   User-ID  Count_of_rating
0        2                1
1        8               17
2        9                3
3       10                1
4       12                1

In [223]:
number_of_rating.sort_values(by='Count_of_rating',ascending=False)

       User-ID  Count_of_rating
3629     11676            11144
65332   198711             6456
50848   153662             5814
32581    98391             5779
11848    35859             5646
...        ...              ...
39368   119065                1
39372   119082                1
39373   119085                1
39375   119095                1
46053   139230                1

[92106 rows x 2 columns]

In [228]:
# Getting list of all active user(i.e count of review greater than 10)
active_user = number_of_rating[number_of_rating['Count_of_rating']>10]['User-ID'].unique()
len(active_user)

10842

In [229]:
# Getting details of popular books 
popular_book = book_details[book_details['no_of_rating']>100]['Book-Title']
popular_book

764                                                    1984
818                                     1st to Die: A Novel
1002                                               24 Hours
1048                                             2nd Chance
1266                                              4 Blondes
                                ...
239022                                      Year of Wonders
239413                                     You Belong To Me
240413    Zen and the Art of Motorcycle Maintenance: An ...
240668                                                 Zoya
240860                                  \O\" Is for Outlaw"
Name: Book-Title, Length: 904, dtype: object

In [230]:
df.head()

,User-ID,Book-Title,Book-Rating,Image-URL-M
0,276725,Flesh Tones: A Novel,0,http://images.amazon.com/images/P/034545104X.0...
1,2313,Flesh Tones: A Novel,5,http://images.amazon.com/images/P/034545104X.0...
2,6543,Flesh Tones: A Novel,0,http://images.amazon.com/images/P/034545104X.0...
3,8680,Flesh Tones: A Novel,5,http://images.amazon.com/images/P/034545104X.0...
4,10314,Flesh Tones: A Novel,9,http://images.amazon.com/images/P/034545104X.0...

In [231]:
df = df[df['User-ID'].isin(active_user) & df['Book-Title'].isin(popular_book)]

In [232]:
df.isna().sum()

User-ID        0
Book-Title     0
Book-Rating    0
Image-URL-M    0
dtype: int64

In [233]:
df.duplicated().sum()

0

In [234]:
df.shape

(141262, 4)

In [235]:
df.tail()

,User-ID,Book-Title,Book-Rating,Image-URL-M
1028989,271503,The Heart of a Woman,0,http://images.amazon.com/images/P/0394512731.0...
1029070,271705,Fahrenheit 451,0,http://images.amazon.com/images/P/B0001PIOX4.0...
1030363,274808,Homecoming,0,http://images.amazon.com/images/P/0449701913.0...
1030824,275970,Stormy Weather,0,http://images.amazon.com/images/P/0865714215.0...
1030868,275970,Me Talk Pretty One Day,9,http://images.amazon.com/images/P/1586210661.0...

In [236]:
# data has no duplicaated value or null value
df.isna().sum()

User-ID        0
Book-Title     0
Book-Rating    0
Image-URL-M    0
dtype: int64

In [237]:
df.duplicated().sum()

0

In [238]:
# creating pivot table for making vector representation of our data to feed that to a model
table = df.pivot_table(columns='User-ID',index='Book-Title',values='Book-Rating')
table

User-ID,8,99,242,243,254,383,388,408,424,446,...,278418,278506,278522,278535,278554,278582,278633,278637,278771,278843
Book-Title,,,,,,,,,,,,,,,,,,,,,
1984,NaN,NaN,NaN,NaN,9.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1st to Die: A Novel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN
24 Hours,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2nd Chance,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4 Blondes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
You Belong To Me,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zoya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"\O\"" Is for Outlaw""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,9.0,NaN,NaN,NaN,NaN,NaN,NaN

In [239]:
# Filling NaN value with 0
table = table.fillna(0)
table

User-ID,8,99,242,243,254,383,388,408,424,446,...,278418,278506,278522,278535,278554,278582,278633,278637,278771,278843
Book-Title,,,,,,,,,,,,,,,,,,,,,
1984,0.0,0.0,0.0,0.0,9.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0
24 Hours,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0

In [240]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\nitish\anaconda3\lib\site-packages (1.2.1)
Requirement already satisfied: scipy>=1.3.2 in c:\users\nitish\anaconda3\lib\site-packages (from scikit-learn) (1.10.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\nitish\anaconda3\lib\site-packages (from scikit-learn) (2.2.0)
Requirement already satisfied: numpy>=1.17.3 in c:\users\nitish\anaconda3\lib\site-packages (from scikit-learn) (1.23.5)
Requirement already satisfied: joblib>=1.1.1 in c:\users\nitish\anaconda3\lib\site-packages (from scikit-learn) (1.1.1)
Note: you may need to restart the kernel to use updated packages.

In [241]:
from sklearn.metrics.pairwise import cosine_similarity

In [242]:
# Finding cosine similarity of vectors for calculating distance
similarity_score = cosine_similarity(table)

In [243]:
similarity_score

array([[1.        , 0.02851484, 0.00394734, ..., 0.04810109, 0.02859266,
        0.01344559],
       [0.02851484, 1.        , 0.04992978, ..., 0.0213146 , 0.09710713,
        0.08303517],
       [0.00394734, 0.04992978, 1.        , ..., 0.01197944, 0.04678036,
        0.00558344],
       ...,
       [0.04810109, 0.0213146 , 0.01197944, ..., 1.        , 0.02838384,
        0.0062915 ],
       [0.02859266, 0.09710713, 0.04678036, ..., 0.02838384, 1.        ,
        0.05210717],
       [0.01344559, 0.08303517, 0.00558344, ..., 0.0062915 , 0.05210717,
        1.        ]])

In [244]:
table

User-ID,8,99,242,243,254,383,388,408,424,446,...,278418,278506,278522,278535,278554,278582,278633,278637,278771,278843
Book-Title,,,,,,,,,,,,,,,,,,,,,
1984,0.0,0.0,0.0,0.0,9.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0
24 Hours,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0

In [245]:
np.where(table.index == '1984')[0][0]

0

In [246]:
sorted(list(enumerate(similarity_score[2])),key= lambda x:x[1],reverse=True)[1:11]

[(402, 0.15360865214221994),
 (703, 0.12941048119587376),
 (405, 0.1262681872951221),
 (804, 0.1238499698806509),
 (664, 0.11297127778161212),
 (13, 0.1060121761972676),
 (742, 0.09707283350418053),
 (3, 0.08849433416237487),
 (844, 0.08839991165265203),
 (507, 0.08683320064432415)]

In [247]:
# Creating function to get top 10 recommended books based on closest distance for a vector
def recommend(book_name):
    index = np.where(table.index == book_name)[0][0]
    data = sorted(list(enumerate(similarity_score[index])),key= lambda x:x[1],reverse=True)[1:11]
    for i in data:
        print(table.index[i[0]])

In [248]:
# Sample result of model
recommend('1984')

Animal Farm
Brave New World
American Psycho (Vintage Contemporaries)
The Catcher in the Rye
Lord of the Flies
The Hitchhiker's Guide to the Galaxy
The Vampire Lestat (Vampire Chronicles, Book II)
Fahrenheit 451
Slaughterhouse Five or the Children's Crusade: A Duty Dance With Death
The Handmaid's Tale

In [249]:
import pickle

In [250]:
# Download similarity pickle for model
with open('similarity.pkl','wb') as file:
    pickle.dump(similarity_score,file)

In [251]:
# Table data for model building
with open('table.pkl','wb') as file:
    pickle.dump(table,file)

In [252]:
with open('data.pkl','wb') as file:
    pickle.dump(df,file)

In [253]:
df['Book-Title'].unique()

array(['The Notebook', 'A Painted House', 'Lightning',
       'Manhattan Hunt Club', 'Dark Paradise', 'Night Sins',
       'How Stella Got Her Groove Back', 'Waiting to Exhale',
       'The Girl Who Loved Tom Gordon : A Novel',
       'The Pillars of the Earth', 'The Dark Half',
       'Harry Potter and the Order of the Phoenix (Book 5)',
       'False Memory', "Bridget Jones's Diary", 'A Wrinkle In Time',
       'The Boy Next Door', 'Artemis Fowl (Artemis Fowl, Book 1)',
       'Move to Strike', 'The Last Time They Met : A Novel',
       "Back When We Were Grownups : A Novel (Ballantine Reader's Circle)",
       'Along Came a Spider (Alex Cross Novels)', 'Alaska', 'Whispers',
       "Ender's Game (Ender Wiggins Saga (Paperback))", 'The Jester',
       'The King of Torts',
       'Politically Correct Bedtime Stories: Modern Tales for Our Life and Times',
       'Matilda', 'The Lovely Bones: A Novel', 'The Da Vinci Code',
       'The Joy Luck Club', 'Wild Animus', 'Coraline',
       'Harry Potter and the Chamber of Secrets (Book 2)',
       "Harry Potter and the Sorcerer's Stone (Harry Potter (Paperback))",
       'To Kill a Mockingbird', 'Four To Score (A Stephanie Plum Novel)',
       'The Terminal Man', 'Southern Cross', 'The Chamber',
       "The Idiot Girls' Action Adventure Club", 'Dreamcatcher',
       'All Around the Town', 'Winter Solstice', 'Deja Dead',
       'The Eye of the World (The Wheel of Time, Book 1)',
       'The Saving Graces: A Novel',
       "Full House (Janet Evanovich's Full Series)", 'Mystic River',
       'Roses Are Red (Alex Cross Novels)', 'Violets Are Blue',
       'The Bone Collector (Lincoln Rhyme Novels (Paperback))',
       "The Sweet Potato Queens' Book of Love",
       "She's Come Undone (Oprah's Book Club (Paperback))", 'Choke',
       'Fight Club', 'About a Boy (Movie Tie-In)', 'Hannibal',
       'The Bad Beginning (A Series of Unfortunate Events, Book 1)',
       'Red Rabbit', 'The Summons', 'Mortal Prey', 'Reap the Wind',
       'Fahrenheit 451', 'Coast Road: A Novel', 'City of Bones',
       'Flesh and Blood', 'Saving Faith', "The Devil's Code",
       'I Is for Innocent', 'Back Roads', 'Silent Witness',
       'Angels &amp; Demons', 'Black Notice', 'The Street Lawyer',
       'The Bourne Supremacy', 'Bag of Bones', 'The Green Mile',
       'Big Trouble', 'Cradle and All', '1st to Die: A Novel',
       'Over the Edge', 'Sleepers', 'The Hot Zone', 'Night over Water',
       'A Man in Full', "The Bonesetter's Daughter",
       'Holes (Yearling Newbery)', 'The Girl Who Loved Tom Gordon',
       'The English Patient', 'Code to Zero',
       "I Know This Much Is True (Oprah's Book Club)",
       'The Divine Secrets of the Ya-Ya Sisterhood: A Novel',
       'I Know This Much Is True', "Fortune's Rocks : A Novel",
       'Dr. Death (Alex Delaware Novels (Paperback))', 'Stargirl',
       'The Blind Assassin', 'Breathing Lessons', 'The Brethren',
       'Jack &amp; Jill (Alex Cross Novels)',
       'Cat &amp; Mouse (Alex Cross Novels)', 'The Midnight Club',
       'Black Friday', 'Dances With Wolves', 'The Prince of Tides',
       'The Alienist', "She's Come Undone (Oprah's Book Club)",
       'SHIPPING NEWS', 'Girl, Interrupted',
       'A Child Called \\It\\": One Child\'s Courage to Survive"',
       'The Beach House', 'White Teeth: A Novel', "Daddy's Little Girl",
       "The Hitchhiker's Guide to the Galaxy",
       'The Amazing Adventures of Kavalier &amp; Clay',
       'The Stone Diaries', 'Girl in Hyacinth Blue',
       'The Devil Wears Prada : A Novel', 'While I Was Gone',
       "The Pilot's Wife : A Novel", 'Girl with a Pearl Earring',
       'Chocolat', "From Potter's Field",
       'Divine Secrets of the Ya-Ya Sisterhood : A Novel',
       'Little Altars Everywhere: A Novel',
       'On the Street Where You Live', 'Life of Pi',
       'The Perfect Husband', 'The Sigma Protocol',
       'The Red Tent (Bestselling Backlist)',
       'Like Water for Chocolate: A Novel in Monthly Installments With Recipes, Romances and Home Remedies',
       'A Walk to Remember', 'Thinner', 'I Know Why the Caged Bird Sings',
       'Bridget Jones : The Edge of Reason', 'The Passion of Artemisia',
       'Fatal Voyage', 'The Temple of My Familiar',
       "Angela's Ashes (MMP) : A Memoir", 'A Tree Grows in Brooklyn',
       'The Poisonwood Bible: A Novel', 'Bel Canto: A Novel',
       'One for the Money (Stephanie Plum Novels (Paperback))',
       'The Secret Garden', 'The Tao of Pooh', 'The Secret Life of Bees',
       'Three To Get Deadly : A Stephanie Plum Novel (A Stephanie Plum Novel)',
       "Full Tilt (Janet Evanovich's Full Series)", 'Lucky : A Memoir',
       'The Dogs of Babel (Today Show Book Club #12)',
       "White Oleander : A Novel (Oprah's Book Club)",
       'White Oleander : A Novel', 'Me Talk Pretty One Day', 'Naked',
       'The Hobbit : The Enchanting Prelude to The Lord of the Rings',
       'A Prayer for Owen Meany', 'No Safe Place', 'Dark Lady',
       'The Murder Book', "The Dress Lodger (Ballantine Reader's Circle)",
       'Middlesex: A Novel',
       "The Dive From Clausen's Pier : A Novel (Vintage Contemporaries (Paperback))",
       'Postmortem',
       'All That Remains (Kay Scarpetta Mysteries (Paperback))',
       'The Rainmaker',
       "Tuesdays with Morrie: An Old Man, a Young Man, and Life's Greatest Lesson",
       'Into the Wild', 'Oryx and Crake',
       'Who Moved My Cheese? An Amazing Way to Deal with Change in Your Work and in Your Life',
       'The River King', 'Lord of the Flies', 'Watchers', 'Mortal Fear',
       'The Cardinal of the Kremlin (Jack Ryan Novels)', 'Rules of Prey',
       'Mind Prey', 'Contagion', 'Cause of Death', 'Certain Prey',
       'Harry Potter and the Prisoner of Azkaban (Book 3)',
       "Harry Potter and the Sorcerer's Stone (Book 1)", 'Secrets',
       'Wanderlust', 'Vanished', 'The Partner', 'Tell No One',
       'Dune (Remembering Tomorrow)', 'Presumed Innocent', 'Blood Work',
       'Hide &amp; Seek', 'Unspeakable', 'J Is for Judgment',
       'K Is for Killer (Kinsey Millhone Mysteries (Paperback))',
       'Misery', 'Dolores Claiborne', 'The Fountainhead', '24 Hours',
       'The Virgin Blue', 'The Edge',
       'Heaven and Earth (Three Sisters Island Trilogy)', 'Hemlock Bay',
       'D Is for Deadbeat (Kinsey Millhone Mysteries (Paperback))',
       'Where the Red Fern Grows',
       'E Is for Evidence: A Kinsey Millhone Mystery (Kinsey Millhone Mysteries (Paperback))',
       'B Is for Burglar (Kinsey Millhone Mysteries (Paperback))',
       'C Is for Corpse (Kinsey Millhone Mysteries (Paperback))',
       'Long After Midnight', 'One Door Away from Heaven',
       'By the Light of the Moon', 'Two for the Dough',
       'The God of Small Things', 'A Year in Provence',
       'Midnight in the Garden of Good and Evil', 'The Sands of Time',
       'If Only It Were True', 'Pay It Forward', "The Kitchen God's Wife",
       'Saint Maybe', 'A Patchwork Planet',
       'Tears of the Giraffe (No.1 Ladies Detective Agency)',
       "The No. 1 Ladies' Detective Agency (Today Show Book Club #8)",
       "The Samurai's Garden : A Novel",
       'Balzac and the Little Chinese Seamstress : A Novel',
       'Cruel &amp; Unusual (Kay Scarpetta Mysteries (Paperback))',
       "Hornet's Nest", '2nd Chance',
       'G Is for Gumshoe (Kinsey Millhone Mysteries (Paperback))',
       'Small Town Girl', 'Still Waters',
       'A Thin Dark Line (Mysteries &amp; Horror)',
       'The Queen of the Damned (Vampire Chronicles (Paperback))',
       'Night Prey', 'Chromosome 6', 'Point of Origin', 'The Testament',
       'The Best Laid Plans', 'When the Wind Blows',
       "A Thousand Acres (Ballantine Reader's Circle)", 'Ashes to Ashes',
       'Fear Nothing', 'Seize the Night', "I'll Be Seeing You",
       'The Five People You Meet in Heaven', 'All I Really Need to Know',
       'Fried Green Tomatoes at the Whistle Stop Cafe', 'The Last Juror',
       "Chicken Soup for the Woman's Soul (Chicken Soup for the Soul Series (Paper))",
       'The Little Friend', "Charlotte's Web (Trophy Newbery)",
       'How the Garcia Girls Lost Their Accents (Plume Contemporary Fiction)',
       'The House on Mango Street (Vintage Contemporaries)',
       "Open House (Oprah's Book Club (Paperback))", 'Border Music',
       'Good in Bed', 'The Apprentice', 'Bleachers', 'Prey',
       "East of Eden (Oprah's Book Club)", "The Lion's Game",
       'The Reader', 'The Corrections: A Novel',
       'The Diary of Ellen Rimbauer: My Life at Rose Red',
       "The No. 1 Ladies' Detective Agency", 'Disclosure',
       'The Laws of Our Fathers', 'The Thorn Birds', 'The Runaway Jury',
       'WLD ACCORDNG GARP', "Don't Stand Too Close to a Naked Man",
       'Courting Trouble', 'Dark Rivers of the Heart',
       'Whirlwind (Tyler, Book 1)', 'Rainbow Six',
       'The Sum of All Fears (Jack Ryan Novels)',
       "Tom Clancy's Op-Center (Tom Clancy's Op Center (Paperback))",
       'A Time to Kill', 'Heartbeat', 'The Client', 'The Pelican Brief',
       "Smilla's Sense of Snow", 'The Horse Whisperer', 'Pet Sematary',
       'Four Past Midnight', 'Fat Tuesday', 'Hideaway',
       "We'll Meet Again", 'Mercy', "Corelli's Mandolin : A Novel",
       'Sea Swept (Quinn Brothers (Paperback))',
       'The Shipping News : A Novel', 'The Catcher in the Rye',
       'Body of Evidence (Kay Scarpetta Mysteries (Paperback))',
       'Black House', 'Sleep No More',
       'The Gunslinger (The Dark Tower, Book 1)',
       'The Drawing of the Three (The Dark Tower, Book 2)',
       'Wizard and Glass (The Dark Tower, Book 4)', "The Handmaid's Tale",
       'Beloved (Plume Contemporary Fiction)',
       'Seabiscuit: An American Legend', 'Women Who Run with the Wolves',
       'The Smoke Jumper', 'Drowning Ruth', 'Night', 'The Bean Trees',
       'Rebecca', 'The Scarlet Letter', 'The Surgeon', 'Neverwhere',
       'Snow Falling on Cedars', 'Angels',
       'Divine Secrets of the Ya-Ya Sisterhood: A Novel',
       "Where the Heart Is (Oprah's Book Club (Paperback))",
       'The Honk and Holler Opening Soon', 'Summer Sisters',
       "Daughter of Fortune : A Novel (Oprah's Book Club (Hardcover))",
       'Without Remorse', 'Girl With a Pearl Earring',
       "One Flew Over the Cuckoo's Nest", 'Bastard Out of Carolina',
       'Sole Survivor', 'The Switch', 'Intensity',
       'A Heartbreaking Work of Staggering Genius',
       'Into Thin Air : A Personal Account of the Mt. Everest Disaster',
       'Circle of Friends', 'Alias Grace', "Dude, Where's My Country?",
       'The Virgin Suicides',
       'Midnight in the Garden of Good and Evil: A Savannah Story',
       'It Was on Fire When I Lay Down on It', 'The Lovely Bones',
       'Blessings', 'Falling Angels', 'Tis: A Memoir',
       'Good Harbor: A Novel', 'Fall On Your Knees (Oprah #45)',
       'The Stone Monkey (Lincoln Rhyme Novels (Paperback))',
       'Welcome to Temptation', 'Faking It', 'Scarlet Feather',
       'Rising Tides', 'Inner Harbor (Quinn Brothers (Paperback))',
       'Key of Light (Key Trilogy (Paperback))',
       'Key of Knowledge (Key Trilogy (Paperback))',
       'Key of Valor (Roberts, Nora. Key Trilogy, 3.)', 'Birthright',
       'The Key to Midnight', 'The Empty Chair', 'The Woman Next Door',
       'Catch Me If You Can: The True Story of a Real Fake',
       'The Stand: Complete and Uncut',
       "The Pilot's Wife : A Novel Tag: Author of the Weight of Water (Oprah's Book Club (Hardcover))",
       'Sphere', 'Eaters of the Dead', 'The Andromeda Strain', 'Congo',
       'Rising Sun', 'Airframe', 'The Lost World', 'Timeline', 'Paradise',
       "ANGELA'S ASHES",
       "Don't Sweat the Small Stuff and It's All Small Stuff : Simple Ways to Keep the Little Things from Taking Over Your Life (Don't Sweat the Small Stuff Series)",
       'A Bend in the Road', 'Winter Moon', 'The Eyes of Darkness',
       'Red Dragon', 'Absolute Power', 'Last Man Standing',
       "The Lost Boy: A Foster Child's Search for the Love of a Family",
       'The Bridges of Madison County', 'Different Seasons',
       'A Widow for One Year', 'Thousand Acres',
       'Gap Creek: The Story Of A Marriage', 'P Is for Peril',
       'The Crush', 'Dead Sleep', 'Carolina Moon',
       'A Day Late and a Dollar Short', 'Guilty as Sin', 'The Shining',
       'Secret History',
       "Songs in Ordinary Time (Oprah's Book Club (Paperback))",
       'A Lesson Before Dying (Vintage Contemporaries (Paperback))',
       'The Wedding', 'About a Boy', 'September', 'Chasing the Dime',
       'House of Sand and Fog', 'Five Quarters of the Orange',
       'Interview with the Vampire', 'Mirror Image', 'Tara Road',
       'The Guardian', 'Message in a Bottle',
       'Let Me Call You Sweetheart', 'While My Pretty One Sleeps',
       'Remember Me', 'The Last Precinct', 'The Jury', 'Isle of Dogs',
       'Blow Fly: A Scarpetta Novel', 'Fatherhood',
       'Debt of Honor (Jack Ryan Novels)', 'One True Thing',
       'The Simple Truth', 'Four Blind Mice', 'Protect and Defend',
       'STONES FROM THE RIVER', "Dr. Atkins' New Diet Revolution", '1984',
       'Evening Class', 'Drums of Autumn', 'The Sky Is Falling',
       'Icy Sparks', 'The Prometheus Deception',
       "Drowning Ruth (Oprah's Book Club)", 'Engaging The Enemy',
       'Irish Hearts', 'Red Storm Rising',
       'The Bear and the Dragon (Jack Ryan Novels)', 'Echoes',
       'Nothing Lasts Forever', 'Smart Women', 'Temptation',
       'Mutant Message Down Under',
       "Galileo's Daughter: A Historical Memoir of Science, Faith, and Love",
       'Truly, Madly Manhattan', 'Bee Season: A Novel',
       "Sophie's World: A Novel About the History of Philosophy",
       'Cold Sassy Tree', 'Quentins', 'Possessing the Secret of Joy',
       "Ahab's Wife: Or, The Star-Gazer: A Novel", 'Peace Like a River',
       'At Home in Mitford (The Mitford Years)', 'Fast Women',
       'The Long Road Home', 'Standoff', 'Envy', 'Wish You Well',
       'Watership Down', 'The Bluest Eye', 'The Survivors Club',
       'Sick Puppy',
       'The Fellowship of the Ring (The Lord of the Rings, Part 1)',
       'The Four Agreements: A Practical Guide to Personal Freedom',
       'Interpreter of Maladies', 'Outlander',
       'A Beautiful Mind: The Life of Mathematical Genius and Nobel Laureate John Nash',
       'The Sum of All Fears',
       'Face the Fire (Three Sisters Island Trilogy)',
       'Hard Eight : A Stephanie Plum Novel (A Stephanie Plum Novel)',
       'Harry Potter and the Goblet of Fire (Book 4)',
       'The Forgotten (Peter Decker &amp; Rina Lazarus Novels (Paperback))',
       'P Is for Peril (Kinsey Millhone Mysteries (Hardcover))',
       'The Robber Bride',
       'The Bachelor (Warner Books Contemporary Romance)',
       'Men Are from Mars, Women Are from Venus: A Practical Guide for Improving Communication and Getting What You Want in Your Relationships',
       'Of Mice and Men (Penguin Great Books of the 20th Century)',
       'The Little Prince', 'Coming Home',
       'The Vampire Lestat (Vampire Chronicles, Book II)',
       'Sword of Shannara', 'Beloved',
       "The Princess Bride: S Morgenstern's Classic Tale of True Love and High Adventure",
       "Foucault's Pendulum", 'Degree of Guilt', 'Icebound',
       'The Witching Hour (Lives of the Mayfair Witches)',
       'The Tale of the Body Thief (Vampire Chronicles (Paperback))',
       'The Genesis Code', 'Ellen Foster',
       'Waiting (Vintage International)', 'American Gods',
       "The Book of Ruth (Oprah's Book Club (Paperback))",
       'No Greater Love',
       'Like Water for Chocolate: A Novel in Monthly Installments, With Recipes, Romances, and Home Remedies',
       "The Handmaid's Tale : A Novel", 'The Phantom Tollbooth',
       'Dragon Tears', 'Midnight', 'The Hunt for Red October',
       'Turtle Moon', 'Fatal Cure', 'The Body Farm', 'Acceptable Risk',
       'Invasion', 'Sudden Prey', 'Executive Orders (Jack Ryan Novels)',
       'Purity in Death', 'Daddy', 'The Firm', 'A Wrinkle in Time',
       'Five Days in Paris', 'The Return Journey', 'The Kiss',
       'Scarlett : The Sequel to Margaret Mitchell\'s \\Gone With the Wind\\""',
       "The General's Daughter", 'The Witness',
       'Slow Waltz in Cedar Bend', 'Primary Colors: A Novel of Politics',
       'Total Control', 'Catering to Nobody', 'Christine',
       'The Dead Zone', 'The Tommyknockers', 'Needful Things',
       "Gerald's Game", 'The Door to December', 'A Case of Need',
       'Insomnia', 'The Deep End of the Ocean', 'The Reef',
       'Jewels of the Sun (Irish Trilogy)', "River's End",
       'Tears of the Moon (Irish Trilogy)',
       'Dance upon the Air (Three Sisters Island Trilogy)',
       'The Regulators', 'Couplehood', 'Siddhartha', 'A Separate Peace',
       'F Is for Fugitive (Kinsey Millhone Mysteries (Paperback))',
       'Lake Wobegon Days', 'My Gal Sunday', 'Hearts In Atlantis',
       'Night Whispers', 'The Color Purple',
       'Loves Music, Loves to Dance', 'Moonlight Becomes You',
       'The Stranger', 'Call of the Wild', 'In Her Shoes : A Novel',
       "Suzanne's Diary for Nicholas", 'Angelas Ashes',
       'The Next Accident', 'An Instance of the Fingerpost',
       'Moment of Truth', 'Empire Falls', 'Easy Prey', 'Chosen Prey',
       'The Glass Lake', 'The Burden of Proof', '\\O\\" Is for Outlaw"',
       'H Is for Homicide (Kinsey Millhone Mysteries (Paperback))',
       'The Killing Game: Only One Can Win...and the Loser Dies',
       'Zen and the Art of Motorcycle Maintenance: An Inquiry into Values',
       'Plum Island', 'Final Target',
       'The Lottery Winner : Alvirah And Willy Stories',
       'The Subtle Knife (His Dark Materials, Book 2)',
       "The Girls' Guide to Hunting and Fishing",
       'Sisterhood of the Traveling Pants',
       'A Confederacy of Dunces (Evergreen Book)',
       'High Five (A Stephanie Plum Novel)',
       'Hot Six : A Stephanie Plum Novel (A Stephanie Plum Novel)',
       'Seven Up (A Stephanie Plum Novel)',
       'One for the Money (A Stephanie Plum Novel)',
       'The Mists of Avalon', 'The Loop', 'River, Cross My Heart',
       "A Virtuous Woman (Oprah's Book Club (Paperback))",
       "Vinegar Hill (Oprah's Book Club (Paperback))", 'The Rescue',
       'We Were the Mulvaneys',
       'A Man Named Dave: A Story of Triumph and Forgiveness',
       "The Clan of the Cave Bear (Earth's Children (Paperback))",
       'Jewel', 'Tell Me Your Dreams', 'Embraced by the Light',
       'Prodigal Summer: A Novel', 'Possession : A Romance',
       'Lucky Man: A Memoir',
       'Speaker for the Dead (Ender Wiggins Saga (Paperback))',
       'Sticks &amp; Scones', 'Surfacing', 'Riptide',
       'Digital Fortress : A Thriller', 'N Is for Noose', 'Cold Fire',
       'The Summerhouse',
       'Chicken Soup for the Soul (Chicken Soup for the Soul)',
       'Here on Earth', 'M Is for Malice', 'The Cider House Rules',
       'Brave New World', 'Pigs in Heaven', 'Pride and Prejudice',
       'From the Corner of His Eye',
       "Left Behind: A Novel of the Earth's Last Days (Left Behind #1)",
       'Seabiscuit', "Pretend You Don't See Her", 'The Alibi',
       'Every Breath You Take : A True Story of Obsession, Revenge, and Murder',
       'One Hundred Years of Solitude', 'Before I Say Good-Bye',
       'Atonement : A Novel', 'Contact', 'The Big Bad Wolf: A Novel',
       'Plainsong (Vintage Contemporaries)', 'A Map of the World',
       'The Accidental Tourist', 'Unnatural Exposure', 'Deception Point',
       "Jewel (Oprah's Book Club)", 'Tis : A Memoir',
       'Wicked: The Life and Times of the Wicked Witch of the West',
       'Lies and the Lying Liars Who Tell Them: A Fair and Balanced Look at the Right',
       'The Color of Magic',
       'The Alchemist: A Fable About Following Your Dream',
       'Bridget Jones: The Edge of Reason', 'The Hours: A Novel',